@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #6E6E6E;
    --secondary-text-color: #252525;
    --gold-color: #BCA858;
    --white-color: #ffffff;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Roboto Slab', serif;
    color: var(--secondary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

/*.container {
    max-width: 1180px;
   /* margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    margin: 0px 100px;

}*/

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    position: relative;
    z-index: 1;
    min-width: 150px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 0 35px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 60px;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    position: relative;
    z-index: 1;
    min-width: 150px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 0 35px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--gold-color);
    color: var(--white-color);
    border: 1px solid var(--gold-color);
    border-radius: 60px;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* top banner */
.top-nav{
    background-color: black;
    
}
.top-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    
}
.top-nav p{
    color:white
}
.t-m-l{
    display:flex ;
    align-items: center;
    justify-content: center;
    gap: 5px;


}
.t-r{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t-r>p{
     margin:0px 15px;}
.t-r i{
    color: white;
    font-size: 1rem;
}
.t-m-r{
    display: flex;
    align-items: center;
    gap: 5px;}
/*main-nav*/
.main-nav{
    margin-top: 20px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left h3 span{
    color: var(--gold-color);
}
.nav-right ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

}

.nav-right ul li{
    list-style: none;
}
.nav-right ul li a{
    color:var(--secondary-text-color);
    font-size: 1rem;
}
.nav-right>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
/*banner*/
.banner-main{
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    
    
    background-size: cover;

     width: 100%; 
     height: 720px; 
    /* height:fit-content ; */
    margin-top: 20px;
    margin-bottom: 100px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 720px;
    

}
.banner-inner{
    width: 50%;

}
.banner-inner h3{
    font-size:  4.75rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-inner p{
    margin-bottom: 20px;
}
/*banner-bottom*/
.banner-b{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}
.banner-b-left {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: start;
        gap: 5px;
      }
.banner-b-middle{
    width:33%;

}
.banner-b-middle img{
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    height: 400px;
    
}
.banner-b-right{
   width: 33%;
   display: flex;
   flex-direction: column;
   align-items: start;
   
   gap: 20px;
   justify-content: center;
    
}
.banner-b-right p{
    margin-bottom: 20px;
}
/*hr*/
.hr{
    margin-bottom: 100px;
}
/*services*/
.services{
    margin-bottom: 100px;
}
.services-header{
    text-align: center;
    margin-bottom: 30px;
}
.services-header h2{
    margin-bottom: 10px;
}
.services-boxes{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 100px;
}
.serrvices-box{
    width: 24%;
    
}
.s-box{
    width:250px;
    height: 250px;
    border: 1px solid var(--primary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    
}
.s-box i{
    font-size: 2rem;
    
}
.s-box div{
    text-align: center;
}
.s-box div h3{
    margin-bottom: 10px;
}
/*hero*/
.hero-section{
    background-color: #f6f9f9;
    margin-bottom: 100px;
    min-height: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    overflow: unset !important;
}
.hero-left{
    background-color: #ebebeb;
    width: 50%;
    height: 300px;
    
    
}
.hero-left img{
    width: 100%;
    position: relative;
    
    right: 30px;
    bottom: 30px;
    height: 300px;
}
.hero-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.hero-header h2{
    margin-bottom: 10px;
}
.hero-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.hero-list li i{
    color: var(--gold-color);
}
/*.hero-black{
    background-color:black;
    width: 100%;
    height: 300px;
}*/
/*work*/
.work{
    margin-bottom: 100px;
}
.work-header{
    text-align: center;
    margin-bottom: 30px;
}
.work-body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-bottom: 20px;
}
.work-body span{
    color: var(--primary-text-color);
}
.work-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.work-box img{
    width: 100%;
    height: 100%;
}
#box-1 { grid-area: 1 / 1 / 2 / 2; }
#box-2 { grid-area: 2 / 1 / 3 / 2; }
#box-3{ grid-area: 1 / 2 / 3 / 4; }
#box-4{ grid-area: 1 / 4 / 2 / 5; }
#box-5{ grid-area: 2 / 4 / 3 / 5; }
/*blog*/
.blog{
    margin-bottom: 100px;
}
.blog-header{
    text-align: center;
    margin-bottom: 30px;
}
.blog-header h2{
    margin-bottom: 10px;
}
.blog-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;

}
.blog-box{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.blog-box img{
    width: 100%;
    height: auto;
}
.blog-date{
    display: flex;
    align-items: flex-start;
    
    gap: 30px;
    justify-content: space-between;
}
.bd{
    display: flex;
    align-items: center;
    gap: 5px;
}
.last-section{
    background-color: #f5f8f8;
    margin-bottom: 100px;
    
   
}
.l-bg{
    
    

}
.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: unset !important;
    
}
.l-left{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-right: 85px;
}
.l-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:space-between;
}
.l-right{
    
    width: 49%;
    margin-right: -120px;
    overflow: unset;
    
   /* background-image: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}
.l-right img{
    width: 100%;
    height: auto;
}
/*footer*/
.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:140px;
}
.f-box{
    width:33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.f-box h3{
    margin-bottom: 20px;
}
.footer-left h3 span{
    color: var(--gold-color);
}

.footer-center  h3{
    font-weight:300;
    
}
.footer-right h3{
    font-weight: 300;
}
.social-icons{
    display: flex;
    gap: 1px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 80px;
}
.social-icons i{
    font-size: 20px;
    border-radius: 50%;

border: 50%;

color: #ffffff;
padding: 10px;
}
.fa-facebook-f{
    background-color: #4b62b3;


}
.fa-twitter{
    background-color: #03baeb
}
.fa-instagram{
    background-color: #cb242b;
}
.fa-linkedin-in{
    background-color: #057ad7;
}





